textarea {
    overflow: auto;
    resize: both !important;
    width: 100%;
    max-width: 100% !important;
}
.radio{
    margin: 5px;
    padding: 2px;
}
.label-properties{
    margin-bottom: -0.5rem !important;
}
.radio-properties{
    border : none;
    padding :0px;
}