.karcin-menu {
  display: block;
  .nav-item {
    display: block;

    .nav-link {
      display: block;
    }

    .open-icon {
      float: right;
      margin-top: 12px;
    }

    .menu-icon {
      margin-right: 5px;
      display: inline-block;
    }

    .menu-head {
      cursor: pointer;

      .nav-link {
        display: inline-block;
      }
    }
  }

  // hover menu
  &.hover-menu {
    max-width: 100%;
    .nav-item {
      position: relative;

      &:hover {
        >ul.nav > .collapse{
          display: block;
        }
      }

      ul.nav {
        background-color: #303030;
        position: absolute;
        width: 300px;
        right: -300px;
        top: 0;
        display: block;
        z-index: 999999;
        padding: 0px;

        .nav-item {
          padding-left: 0;
        }
      }
    }
  }
}

