.karcin-tab {
  width: 100%;
  overflow: hidden;

  .nav {
    border-bottom: solid 1px #f1f1f1;
  }
  .nav li {
    display: inline-block;
    margin-right: 3px;
  }
  .nav li a {
    border: solid 1px #f1f0f0;
    border-bottom: 0;
    border-radius: 3px 3px 0px 0px;
    color: #a59c9c;
  }
  .nav li a.active {
    background-color: #0b5f75;
    color: #fff;
  }
  .tab-content {
    border: solid 1px #f1f0f0;
    border-top: 0;
  }
  .tab-content .tab-pane {
  }
  .tab-content .tab-pane.active {
  }

  .nav.vertical {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
  }
  .nav.vertical li {
    display: block;
    margin-right: 0;
  }
  .nav.vertical li a {
    border-right: 0;
    border-radius: 0;
  }
  .nav.vertical li.active a {
    background-color: #f2f2f2;
    color: #555;
  }
  .nav.vertical li:first-child a {
    border-radius: 5px 0px 0px 0px;
  }
  .nav.vertical li:last-child a {
    border-radius: 0px 0 0px 5px;
    border-bottom: solid 1px #f1f1f1;
  }

  .nav.right {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
  }
  .nav.right li {
    display: block;
    margin-right: 0;
  }
  .nav.right li.active a {
    background-color: #f2f2f2;
    color: #555;
  }
  .nav.right li:first-child a {
    border-radius: 0px 5px 0px 0px;
  }
  .nav.right li:last-child a {
    border-radius: 0px 0 5px 0px;
    border-bottom: solid 1px #f1f1f1;
  }
  .nav.right li a {
    border-right: solid 1px #f1f0f0;
    border-left: 0;
  }

  .tab-content.vertical {
    float: left;
    width: calc(100% - 200px);
    border: solid 1px #f1f0f0;
    min-height: 200px;
  }

  .nav.right {
    float: right
  }
}