body {padding: 0; margin: 0; font-family: 'Quicksand', sans-serif;}
#showcase-content {height:1000px; background: white;}
.header {
    width: 100%;
    height: 100vh;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
}

.header-bg {
    background: url("../img/bg.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 4;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.47);
}

.main-menu {min-height: 80px; background: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color:white;
}
.main-menu.active-menu {background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}
.main-menu a {color:white; font-weight:500;}
.main-menu.active-menu a {color:#576644;}

.navbar-toggler i {color:white; font-size:26px;}
.main-menu.active-menu .navbar-toggler i {color:#576644; }
.navbar-toggler:focus {outline: 0;}
.slide-title {
    color:white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

.slide-title .btn {text-shadow: none;}
.slide-title h3 {font-size:60px; font-weight: 100;}
.slide-title p {font-size:26px; font-weight: 100;}

#get-started {padding-top: 40px; margin-bottom:40px; }

#get-started h2,h3,h4,h5 {font-weight: 100; }

.example-card {
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
}

.footer {
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    border-top: 1px solid #e7e7e7;
}
.footer iframe {border:0;}
.footer-right {text-align: right; line-height: 50px;}
.footer-left {line-height: 50px; padding-top:7px;}




@media (max-width: 768px){
    .main-menu .navbar-collapse {position:absolute; top:80px; width: 100%; left:0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        text-align: center;
    }
    .main-menu .navbar-collapse {background: white; color:#576644;}
    .main-menu .navbar-collapse a{color:#576644; }
    .main-menu .dropdown-menu {text-align: center; }
    .slide-title .btn.btn-lg {font-size: 1rem;}
    .slide-title h3 {font-size:48px;}
    .slide-title p {font-size:20px; }
}