body {padding: 0; margin: 0; font-family: 'Quicksand', sans-serif; color:#303030;}
#showcase-content {background: white;}
.header {
    width: 100%;
    height: 100vh;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
}

.header-bg {
    background: url("../img/bg.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 4;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.50);
}

.main-menu {min-height: 80px;
    background: #272727;
}

.active-menu.main-menu {background: transparent;
    box-shadow: none;
    z-index: 5;}
.main-content {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 4;
}
.main-menu a {
    color:#FFF;
    font-weight:400;
    transition:all .3s ease;
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -ms-transition:all .3s ease;
}
.main-menu a:hover {color:#afc098;}
.main-menu .header-logo .logo-img {
    float: right;
}
.main-menu .header-logo .side-menu-button {
    float: left;
    margin: 14px 21px 0px 8px;
    cursor: pointer;
}
.main-menu .header-logo .side-menu-button span {
    width: 1.8em;
    height: 0.05em;
    background-color: #ffffff;
    margin-bottom: 0.52em;
    display: block;
    transition:all .3s ease;
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -ms-transition:all .3s ease;
}

.main-menu .header-logo .side-menu-button span:nth-child(2){
    width: 0.9em;
}
.main-menu .header-logo .side-menu-button span:last-child{
    width: 1.4em;
}

.main-menu .header-logo .side-menu-button:hover span, .main-menu .header-logo .side-menu-button.active span {
    width: 1.8em;
}
.navbar-toggler i {color:white; font-size:26px;}
.main-menu.active-menu .navbar-toggler i {color:#FFF;}
.navbar-toggler:focus {outline: 0;}
.slide-title {
    color:white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

.slide-title .btn {text-shadow: none;}
.slide-title h3 {font-size:60px; font-weight: 100;}
.slide-title p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    color: #dddddd;
}
.slide-title p.build-text {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.slide-title .btn {
    border-radius: 2px;
    margin: 0 4px 10px 4px;
    font-size: 16px;
    padding: 12px 36px;
    font-weight: 500;
    outline:0;
    box-shadow: none !important;
}

.slide-title button.btn {
    background: transparent;
    border:solid 2px #ffffff;
    color:#ffffff;
}

.slide-title button.btn:hover {
    background-color: #0069d9;
    border-color:#0062cc;
}

#get-started {padding-top: 40px; margin-bottom:40px; }

#get-started h2,h3,h4,h5 {font-weight: 100; }

.example-card {
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
}
.side-menu {
    flex: 0 0 auto;
    background-color: #303030;
    width: 255px;
    transition:all .3s ease;
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -ms-transition:all .3s ease;
    overflow: hidden;
}

.side-menu.close-menu {
    width: 0px;
}

.side-menu.responsive-menu {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
}

.side-menu i.fa {text-align: left;}

.side-menu-container {
    min-height: calc(100vh - 80px);
    clear: both;
    width: 255px;
    overflow: hidden;
}

.side-menu .collapse-icon {float: right; padding-right: 10px;}
.side-menu .nav-item .nav {padding-left: 15px;}
.side-menu .nav-item {
    color:#c6c6c6;
}

.side-menu .nav-item .nav-link {
    color:#c6c6c6;
    position: relative;
}
.side-menu .nav-item .nav-link strong {
    font-weight: 400;
}

.side-menu .nav-item.active > .menu-head .nav-link strong {
    font-weight: 900;
}

.side-menu .karcin-menu.hover .nav-item:hover,
.side-menu .karcin-menu.hover .nav-item:hover .nav-link,
.side-menu .karcin-menu.hover .nav-item.active,
.side-menu .karcin-menu.hover .nav-item.active .nav-link{
    color:#ffffff;
}

/*.side-menu .karcin-menu .nav-item:hover > .menu-head > .nav-link*/
.side-menu .karcin-menu .nav-item.active > .menu-head > .nav-link{
    color: #ffffff;
    background: #344f71;
}

.side-menu .karcin-menu .nav-item:not(.downItem).active > .menu-head > .nav-link:after {
    content: "";
    border: solid 13px transparent;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    right: 0;
    top: 7px;
}

.side-menu .karcin-menu .nav-item.active .nav {
    background-color: #3e3c3c;
}
.side-menu .karcin-menu .nav-item .nav .nav-item .menu-head .nav-link,
.side-menu .karcin-menu .nav-item.active .nav .nav-item.active .menu-head .nav-link {background-color: transparent;}
.side-menu .karcin-menu .nav-item.active .nav .nav-item.active .menu-head .nav-link {color: #547094;}
.side-menu .karcin-menu .nav-item.active .nav .nav-item.active .menu-head .nav-link:after {border-width: 10px;top:10px;}

.side-menu .karcin-menu .nav-item .open-icon {
    margin-top: 4px;
    margin-right: 0px;
}

.side-menu .karcin-menu {
    margin-top: 20px;
    background: none;
}
.side-menu .karcin-menu .nav-item .nav-link {
    border-bottom:none;
}

.container-component {
    flex: 1 auto;
    min-height: calc(100vh - 80px);
    clear: both;
}

@media screen and (max-width: 900px){
    .container-component {
        width: 100%;
    }
}

.content-component {flex: 1 0 auto;    display: flex;position: relative;}

.content-page {padding:20px; }

.footer {
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    border-top: 1px solid #e7e7e7;
}
.footer iframe {border:0;}
.footer-right {text-align: right; line-height: 50px;}
.footer-left {line-height: 50px; padding-top:7px;}

.karcin-menu .active.nav-link {color:#bfff68;}
.container-component .component-props > .tab-content {padding:0;padding-top: 20px;}
.description {color:#777; font-size: 14px;}


span.opt {
    font-size: 12px;
    margin-left: 5px;
    color: #999;
    margin-top: 3px;
    position: absolute;
}

.prop-table tbody tr td {width:50%;}


@media (max-width: 768px){
    .main-menu .navbar-collapse {position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 99999;
    }
    .main-menu .navbar-collapse {background: #292929; color:#576644;}
    .main-menu .navbar-collapse a{color:#576644; }
    .main-menu .dropdown-menu {text-align: center; }
    .slide-title .btn.btn-lg {font-size: 1rem;}
    .slide-title h3 {font-size:48px;}
    .slide-title p {font-size:20px; }
}


.component-props .nav {}
.component-props .nav .nav-item {}
.component-props > .nav > .nav-item .nav-link {
    border: 0;
    border-bottom: solid 3px transparent;
    margin-bottom: -1px;
    font-weight: bold;
    position: relative;
    z-index: 9;
    background-color: transparent;
    color:#212529;
}
.component-props > .nav > .nav-item .nav-link:hover {
    border-color: #9aba42;
}
.component-props > .nav > .nav-item .nav-link.active {
    border-color :#9aba42;
    color: #9aba42;
    font-weight: bold;
    background: transparent;
}

.component-props > .tab-content {
    border: 0;
}

.karcin-select-input .select-dropdown .item {}
.karcin-select-input .select-dropdown .item .img {
    width: 35px;
    height: 35px;
    overflow: hidden;
    float: left;
}
.karcin-select-input .select-dropdown .item .img img {
    width: 100%;
}
.karcin-select-input .select-dropdown .item span {
    padding: 7px;
    float: left;
}

.karcin-select-input .multi-select-input .select-item {}
.karcin-select-input .multi-select-input .select-item .img {
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
}
.karcin-select-input .multi-select-input .select-item .img img {
    width: 100%;
}
.karcin-select-input .multi-select-input .select-item span {
    padding: 2px;
}
.karcin-select-input .multi-select-input .select-item span span {
    padding: 1px 4px;
    float: left;
}


.example-reagent {
    display: inline-block;
    width: 100%;
    color: #4a4a4a;
    font-size: 14px;
    border-bottom: solid 1px #e8e8e8;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 7px;
    clear: both;
}

.example-reagent.first {margin-top: 0;}

.example-reagent:before {
    content: "\f105";
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: #4a4a4a;
}



.basic-row {margin: 0;}
.react-datepicker-wrapper, .react-datepicker__input-container{
    display: block !important;
}


.fa-icons i[class*="fa fa-fw"] , .fa-icons span{
    display: inline-flex;
    background: #344f71;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.showing-icon {
    margin: 0;
    padding: 2px 0 0 12px;
    position: sticky;
    top: -1px;
    height: 600px;
}



