/***** MENU CSS Start ******/
.karcin-menu .nav-item .nav {
    padding-left: 25px;
}

/***** MENU CSS End ******/

/***** TAB CSS Start ******/
.karcin-tab .nav-link {
    cursor: pointer;
}

/***** TAB CSS End ******/

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding: 0;
}

textarea {
    overflow: auto;
    resize: both !important;
    width: 100%;
    max-width: 100% !important;
}

.radio {
    margin: 5px;
    padding: 2px;
}

.label-properties {
    margin-bottom: -0.5rem !important;
    font-weight: bold;
}

.radio-properties {
    border: none;
    padding: 0px;
}

.input-focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

/**
    Slider Checkbox
*/
.slider-checkbox {
    position: relative;
}

.slider-checkbox label {
    width: 50px;
    height: 25px;
    background-color: #d74c4c;
    margin-bottom: 0;
    border-radius: 3em;
    position: relative;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    cursor: pointer;
}

.slider-checkbox.active label {
    background-color: #2b7ab2;
}

.slider-checkbox label input {
    position: absolute;
    opacity: 0;
}

.slider-checkbox.active label span.circle {
    left: calc(100% - 25px);
}

.slider-checkbox label .show-icon {
    position: absolute;
    top: 9px;
    z-index: 999;
    left: 14px;
    color: #FFFFFF;
}

.slider-checkbox label .show-icon.reject {
    left: auto;
    right: 14px;
}

.slider-checkbox label span.circle {
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    box-shadow: 0px 1px 5px #ccc;
}

/**
    * tab css
 */

.karcin-tab {
    width: 100%;
}

.karcin-tab > .nav {
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav li {
    display: inline-block;
    margin-right: 3px;
}

.karcin-tab > .nav li a {
    border: solid 1px #f1f0f0;
    border-bottom: 0;
    border-radius: 3px 3px 0px 0px;
    color: #a59c9c;
}

.karcin-tab > .nav li a.active {
    background-color: #cacaca;
    border-color: #c1bfbf;
    color: #6f6c6c;
}

.karcin-tab > .nav li a:hover {
    color: #6f6c6c;
}

.karcin-tab > .tab-content {
    border: solid 1px #f1f0f0;
    border-top: 0;
    padding: 10px;
}

.karcin-tab > .tab-content .tab-pane {
}

.karcin-tab > .tab-content .tab-pane.active {
}

.karcin-tab > .nav.vertical {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.vertical li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.vertical li a {
    border-right: 0;
    border-radius: 0;
}

.karcin-tab > .nav.vertical li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.vertical li:first-child a {
    border-radius: 5px 0px 0px 0px;
}

.karcin-tab > .nav.vertical li:last-child a {
    border-radius: 0px 0 0px 5px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.right li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.right li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.right li:first-child a {
    border-radius: 0px 5px 0px 0px;
}

.karcin-tab > .nav.right li:last-child a {
    border-radius: 0px 0 5px 0px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right li a {
    border-right: solid 1px #f1f0f0;
    border-left: 0;
}

.karcin-tab > .tab-content.vertical {
    float: left;
    width: calc(100% - 200px);
    border: solid 1px #f1f0f0;
    min-height: 200px;
}

.karcin-tab > .nav.right {
    float: right
}



/**
    * data filter css
 */

.karcin-data-filter {

}


.karcin-data-filter .karcin-label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.karcin-data-filter.left .karcin-label {
    width: 20%;
    padding: 10px;
    float: left;
}

.karcin-data-filter.right .karcin-label {
    width: 20%;
    padding: 10px;
    float: right;
}

.karcin-data-filter.left .filter-content {
    width: 80%;
    float: left;
}
.karcin-data-filter.right .filter-content {
    float: left;
    width: 80%;
}

.karcin-data-filter .filter-content {
    width: 100%;
    border-radius: 3px;
    border:solid 1px #ccc;
    min-height: 40px;
}
.karcin-data-filter .filter-content .text-input {
    float: left;
    position: relative;
}
.karcin-data-filter .filter-content .text-input .form-control {
    float:left;
    border:0;
    background-color: transparent;
    box-shadow: none;
    padding: 7px 6px;
    width: 200px;
}

.karcin-data-filter .filter-content .selected-items {
    float: left;
}
.karcin-data-filter .filter-content .selected-items .item {
    width: auto;
    padding: 4px 10px;
    background-color: #e8e6e6;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 2px;
    color: #838080;
    float: left;
}
.karcin-data-filter .filter-content .selected-items .item span {
    display: inline-block;
    font-size: 13px;
}
.karcin-data-filter .filter-content .selected-items .item .close-button {
    margin-left: 5px;
    cursor: pointer;
    font-size: 13px;
}

.karcin-data-filter .filter-content .selected-field {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #e1e1e1;
    padding:0;
    box-shadow: 0px 2px 5px #e2e2e2;
}

.karcin-data-filter .filter-content .selected-field .item {
    font-size:14px;
    cursor: pointer;
    padding: 2px 5px;
}

.karcin-data-filter .filter-content .selected-field .item.active {
    background-color: #1e90ff;
    color:#fff;
}

.karcin-data-filter .filter-content .half-select {float: left;}
.karcin-data-filter .filter-content .half-select span {
    display: inline-block;
    padding: 7px 5px;
}

/*CHARTS*/
a[href='http://www.amcharts.com'] {
    display: none !important;
}

/**
New Reactstrap CSS
*/
.radio-inline{
    display: inline-block;
    padding-right: 10px;
}
.typecolor {
    height: 38px;
    padding: 0px;
}

.radio-properties {
    border: none;
    padding: 0px;
}

/*
* select input css 
*/

.karcin-select-input {
    width: 100%;
    position: relative;
}
.karcin-select-input .form-group {
    width: 100%;
    position: relative;
    display: inline-block;
}
.karcin-select-input .form-group.left {}
.karcin-select-input .form-group.right {}
.karcin-select-input .form-group .karcin-input {
    width: 100%;
}
.karcin-select-input .form-group .karcin-label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.karcin-select-input .form-group .multi-select-input {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #d1d1d1;
    padding: 1px 2px;
    float: left;
}
.karcin-select-input .form-group .multi-select-input .multi-input {
    width: 20%;
    float: left;
    border:0;
    outline:0;
    padding: 4.5px;
}
.karcin-select-input .form-group .multi-select-input .select-item {
    width: auto;
    padding: 1px 4px;
    background-color: #e8e6e6;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 2px;
    color: #838080;
    float: left;
    padding-right: 27px;
    position: relative;
}
.karcin-select-input .form-group .multi-select-input .select-item span {
    float: left;
    font-size: 13px;
}
.karcin-select-input .form-group .multi-select-input .select-item .close-button {
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    right: 5px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.karcin-select-input .select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #e1e1e1;
    padding:0;
    box-shadow: 0px 2px 5px #e2e2e2;
    width: 100%;
    max-height: 140px;
    overflow-y: auto;
}
.karcin-select-input .select-dropdown .item {
    font-size:14px;
    cursor: pointer;
    padding: 2px 5px;
    float: left;
    width: 100%;
}
.karcin-select-input .select-dropdown .item.active {
    background-color: #4e9dfb !important;
    color:#fff;
}
.karcin-select-input .select-dropdown .item:hover {
    background-color: #4e9dfb;
    color:#fff;
}

.karcin-select-input .form-group .select-input-result {
    position: relative;
    float: left;
    width: 100%;
}

.karcin-select-input .form-group.left {
    display: inline-flex;
    align-items: center;
}
.karcin-select-input .form-group.left .select-input-result {
    width: 80%;
    float: right;
}
.karcin-select-input .form-group.left .karcin-label {
    width: 20%;
    float: left;
    padding: 10px;
}

.karcin-select-input .form-group.right {
    flex-direction: row-reverse;
    display: inline-flex;
    align-items: center;
}
.karcin-select-input .form-group.right .select-input-result {
    width: 80%;
    float: left;
}
.karcin-select-input .form-group.right .karcin-label {
    width: 20%;
    padding: 10px;
}

/**
* panel css
*/

.panel-main {
    border:solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
  }
  
  .panel-main .panel-title {
    background-color: #f9f9f9;
    padding: 12px 15px;
    color: #868585;
    border-bottom:solid 1px #ddd;
    font-size: 14px;
  }
  .panel-main .panel-title .panel-head-button {
    float: right;
    margin: -1px;
  }
  .panel-main .panel-title .panel-head-button button {
    padding: 2px;
    line-height: 0;
    background: #ffffff;
    color: #b5b4b4;
  }
  .panel-main .panel-title span {
    margin-bottom: 0;
    font-size: 14px;
  }
  .panel-main .panel-content {
    padding: 15px;
      display: inline-block;
      width: 100%;
  }

  /* panel colors - primary */
  .panel-main.primary {
    border-color: #0275d8;
  }
  .panel-main.primary .panel-title .panel-head-button button {
    background: #045eab;
    color: #ffffff;
    border-color: #0561b1;
  }
  .panel-main.primary .panel-title {
    background-color: #0275d8;
    border-bottom-color: #0275d8;
    color:#FFFFFF;
  }
  
  /* panel colors - info */
  .panel-main.info {
    border-color: #5bc0de;
  }
  .panel-main.info .panel-title {
    background-color: #5bc0de;
    border-bottom-color: #5bc0de;
    color:#FFFFFF;
  }
  .panel-main.info .panel-title .panel-head-button button {
    background: #2e9bbb;
    color: #ffffff;
    border-color: #46a3bf;
  }
  /* panel colors - warning */
  .panel-main.warning {
    border-color: #f0ad4e;
  }
  .panel-main.warning .panel-title {
    background-color: #f0ad4e;
    border-bottom-color: #f0ad4e;
    color:#FFFFFF;
  }
  .panel-main.warning .panel-title .panel-head-button button {
    background: #da9a40;
    color: #ffffff;
    border-color: #d89330;
  }
  
  /* panel colors - danger */
  .panel-main.danger {
    border-color: #d9534f;
  }
  .panel-main.danger .panel-title {
    background-color: #d9534f;
    border-bottom-color: #d9534f;
    color:#FFFFFF;
  }
  .panel-main.danger .panel-title .panel-head-button button {
    background: #c12f2b;
    color: #ffffff;
    border-color: #c53632;
  }
  
  /* panel colors - secondary */
  .panel-main.secondary {
    border-color: #ccc;
  }
  .panel-main.secondary .panel-title {
    background-color: #fff;
    border-bottom-color: #ccc;
    color: #292b2c;
  }
  .panel-main.secondary .panel-title .panel-head-button button {
    background: #ffffff;
    color: #c3c2c2;
    border-color: #cccccc;
  }
  /* panel colors - success */
  .panel-main.success {
    border-color: #5cb85c;
  }
  .panel-main.success .panel-title {
    background-color: #5cb85c;
    border-bottom-color: #5cb85c;
    color: #FFFFFF;
  }
  .panel-main.success .panel-title .panel-head-button button {
    background: #3b963b;
    color: #ffffff;
    border-color: #4fb14f;
  }


  /**
  * karcin menu css
   */

.karcin-menu {
    display: block;
}
.karcin-menu .nav-item {
    display: block;
    width: 100%;
}
.karcin-menu .nav-item .nav-link {
    display: block;
}
.karcin-menu .nav-item .open-icon {
    float: right;
    margin-top: 8px;
    text-align: right;
}
.karcin-menu .nav-item .menu-icon {
    margin-right: 5px;
    display: inline-block;
}
.karcin-menu .nav-item .menu-head {
    cursor: pointer;
}
.karcin-menu .nav-item .menu-head .nav-link {
    display: block;
}
.karcin-menu .nav-item .menu-head .nav-link strong .badge {
    margin-left: 10px;
}
.karcin-menu.hover-menu {
    max-width: 100%;
}
.karcin-menu.hover-menu .nav-item {
    position: relative;
}
.karcin-menu.hover-menu .nav-item:hover > .collapse {
    display: block !important;
}
.karcin-menu.hover-menu .nav-item .collapse.show {
    display: none;
}
.karcin-menu.hover-menu .nav-item ul.nav {
    background-color: #303030;
    position: absolute;
    width: 255px;
    right: -255px;
    top: 0;
    display: block;
    z-index: 999999;
    padding: 0px;
}
.karcin-menu.hover-menu .nav-item ul.nav .nav-item {
    padding-left: 0;
}

/**
    dataGrid css
 */

.karcin-data-grid .data-grid-header {
    width: 100%;
    padding: 10px;
    background-color: #8cb753;
    border-radius: 5px 5px 0px 0px;
}
.karcin-data-grid .data-grid-header .data-grid-search .btn {
    background-color: #779c45;
    border: solid 1px #b2d484;
    border-left: 0;
    color: #fff;
}
.karcin-data-grid .data-grid-header .data-grid-search .btn:focus {
    box-shadow: none;
}
.karcin-data-grid .data-grid-header .data-grid-search .form-control {
    background-color: #779c45;
    border: solid 1px #b2d484;
    border-right: 0;
    color: #fff;
}
.karcin-data-grid .data-grid-header .data-grid-search .form-control::placeholder {
    color: #fff;
}
.karcin-data-grid .data-grid-header .data-grid-search .form-control:focus {
    box-shadow: none;
}
.karcin-data-grid .data-grid-header .header-buttons {
    text-align: right;
}
.karcin-data-grid .data-grid-header .header-buttons .btn {
    background-color: #779c45;
    color: #fff;
    border-right: solid 2px #70943f;
}
.karcin-data-grid .data-grid-header .header-buttons .btn:last-child {
    border: 0;
}
.karcin-data-grid .data-grid-header .header-buttons .btn:focus {
    outline: none;
    box-shadow: none;
}
.karcin-data-grid .data-grid-header .header-buttons .btn:hover:not(:disabled) {
    background-color: #9dbf6e;
}
.karcin-data-grid .table {
    border: 0;
    margin-bottom: 0;
}
.karcin-data-grid .table thead {
    background-color: #f1efef;
    overflow: hidden;
    display: block;
    border: solid 1px #dee2e6;
}
.karcin-data-grid .table thead tr {
    overflow: hidden;
    display: flex;
}
.karcin-data-grid .table thead tr td, .karcin-data-grid .table thead tr th {
    font-size: 15px;
    font-weight: 600;
    color: #8e8a8a;
    border-bottom: 0;
    padding: 8px 15px;
    flex: 1;
    overflow: hidden;
    min-height: 36px;
    border-color: #dee2e6;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    position: relative;
}
.karcin-data-grid .table thead tr td:last-child, .karcin-data-grid .table thead tr th:last-child {
    border-right: 0;
}
.karcin-data-grid .table thead tr td .title-option, .karcin-data-grid .table thead tr th .title-option {
    position: absolute;
    right: 5px;
    top: 7px;
}
.karcin-data-grid .table thead tr td span, .karcin-data-grid .table thead tr th span {
    float: right;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.karcin-data-grid .table thead tr td span:hover, .karcin-data-grid .table thead tr th span:hover {
    color: #636161;
}
.karcin-data-grid .table tbody {
    height: 350px;
    overflow-y: auto;
    display: block;
    border: solid 1px #dee2e6;
    border-top: 0;
}
.karcin-data-grid .table tbody tr {
    overflow: hidden;
    display: flex;
}
.karcin-data-grid .table tbody tr:hover td {
    background-color: #f1f1f1;
}
.karcin-data-grid .table tbody tr:first-child td {
    border-top: 0;
}
.karcin-data-grid .table tbody tr:last-child td {
    border-bottom: solid 1px #dee2e6;
}
.karcin-data-grid .table tbody tr.active td {
    background-color: #4e9dfb;
    color: #fff;
}
.karcin-data-grid .table tbody tr td {
    vertical-align: middle;
    padding: 5px 12px;
    flex: 1;
    overflow: hidden;
    min-height: 36px;
    border-bottom: 0;
    border-left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.karcin-data-grid .table tbody tr td:last-child {
    border-right: 0;
}
.karcin-data-grid .table tr td, .karcin-data-grid .table tr th {
    display: inline-flex;
    align-items: center;
}
.karcin-data-grid .data-grid-footer {
    width: 100%;
    padding: 10px;
    background-color: #8cb753;
    border-radius: 0px 0px 5px 5px;
}
.karcin-data-grid .data-grid-footer .btn {
    background-color: #779c45;
    color: #fff;
    border-right: solid 2px #70943f;
    padding: 3px 10px;
    font-size: 15px;
}
.karcin-data-grid .data-grid-footer .btn.arrow {
    padding: 3px 5px;
}
.karcin-data-grid .data-grid-footer .btn:last-child {
    border: 0;
}
.karcin-data-grid .data-grid-footer .btn:focus {
    outline: none;
    box-shadow: none;
}
.karcin-data-grid .data-grid-footer .btn:hover:not(:disabled), .karcin-data-grid .data-grid-footer .btn.active {
    background-color: #9dbf6e;
}
.karcin-data-grid .data-grid-footer .pagination {
    justify-content: center;
}
.karcin-data-grid .data-grid-footer .data-grid-detail {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.karcin-data-grid .data-grid-footer .data-grid-detail div {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
}

.popup-over-search .btn {
    background-color: #ffffff;
    border: solid 1px #c3c3c3;
    border-left: 0;
    color: #948f8f;
}
.popup-over-search .btn:focus {
    box-shadow: none;
}
.popup-over-search .form-control {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    border-right: 0;
    color: #a5a1a1;
}
.popup-over-search .form-control::placeholder {
    color: #948f8f;
}
.popup-over-search .form-control:focus {
    box-shadow: none;
}
