/***** MENU CSS Start ******/
.karcin-menu .nav-item .nav {
    padding-left: 25px;
}

/***** MENU CSS End ******/

/***** TAB CSS Start ******/
.karcin-tab .nav-link {
    cursor: pointer;
}

/***** TAB CSS End ******/

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding: 0;
}

textarea {
    overflow: auto;
    resize: both !important;
    width: 100%;
    max-width: 100% !important;
}

.radio {
    margin: 5px;
    padding: 2px;
}

.label-properties {
    margin-bottom: -0.5rem !important;
    font-weight: bold;
}

.radio-properties {
    border: none;
    padding: 0px;
}

/**
    Slider Checkbox
*/
.slider-checkbox {
    position: relative;
}

.slider-checkbox label {
    width: 50px;
    height: 25px;
    background-color: #d74c4c;
    margin-bottom: 0;
    border-radius: 3em;
    position: relative;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    cursor: pointer;
}

.slider-checkbox.active label {
    background-color: #2b7ab2;
}

.slider-checkbox label input {
    position: absolute;
    opacity: 0;
}

.slider-checkbox.active label span.circle {
    left: calc(100% - 25px);
}

.slider-checkbox label .show-icon {
    position: absolute;
    top: 9px;
    z-index: 999;
    left: 14px;
    color: #FFFFFF;
}

.slider-checkbox label .show-icon.reject {
    left: auto;
    right: 14px;
}

.slider-checkbox label span.circle {
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    box-shadow: 0px 1px 5px #ccc;
}

/**
    * tab css
 */

.karcin-tab {
    width: 100%;
}

.karcin-tab > .nav {
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav li {
    display: inline-block;
    margin-right: 3px;
}

.karcin-tab > .nav li a {
    border: solid 1px #f1f0f0;
    border-bottom: 0;
    border-radius: 3px 3px 0px 0px;
    color: #a59c9c;
}

.karcin-tab > .nav li a.active {
    background-color: #9aba42;
    color: #fff;
}

.karcin-tab > .tab-content {
    border: solid 1px #f1f0f0;
    border-top: 0;
    padding: 10px;
}

.karcin-tab > .tab-content .tab-pane {
}

.karcin-tab > .tab-content .tab-pane.active {
}

.karcin-tab > .nav.vertical {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.vertical li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.vertical li a {
    border-right: 0;
    border-radius: 0;
}

.karcin-tab > .nav.vertical li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.vertical li:first-child a {
    border-radius: 5px 0px 0px 0px;
}

.karcin-tab > .nav.vertical li:last-child a {
    border-radius: 0px 0 0px 5px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.right li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.right li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.right li:first-child a {
    border-radius: 0px 5px 0px 0px;
}

.karcin-tab > .nav.right li:last-child a {
    border-radius: 0px 0 5px 0px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right li a {
    border-right: solid 1px #f1f0f0;
    border-left: 0;
}

.karcin-tab > .tab-content.vertical {
    float: left;
    width: calc(100% - 200px);
    border: solid 1px #f1f0f0;
    min-height: 200px;
}

.karcin-tab > .nav.right {
    float: right
}



/**
    * data filter css
 */

.karcin-data-filter {
    width: 100%;
    border-radius: 3px;
    border:solid 1px #ccc;
    min-height: 40px;
}

.karcin-data-filter .filter-content {}
.karcin-data-filter .filter-content .text-input {
    float: left;
    position: relative;
}
.karcin-data-filter .filter-content .text-input .form-control {
    float:left;
    border:0;
    background-color: transparent;
    box-shadow: none;
    padding: 7px 6px;
    width: 200px;
}

.karcin-data-filter .filter-content .selected-items {
    float: left;
}
.karcin-data-filter .filter-content .selected-items .item {
    width: auto;
    padding: 4px 10px;
    background-color: #e8e6e6;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 2px;
    color: #838080;
    float: left;
}
.karcin-data-filter .filter-content .selected-items .item span {
    display: inline-block;
    font-size: 13px;
}
.karcin-data-filter .filter-content .selected-items .item .close-button {
    margin-left: 5px;
    cursor: pointer;
    font-size: 13px;
}

.karcin-data-filter .filter-content .selected-field {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #e1e1e1;
    padding:0;
    box-shadow: 0px 2px 5px #e2e2e2;
}

.karcin-data-filter .filter-content .selected-field .item {
    font-size:14px;
    cursor: pointer;
    padding: 2px 5px;
}

.karcin-data-filter .filter-content .selected-field .item.active {
    background-color: #1e90ff;
    color:#fff;
}

.karcin-data-filter .filter-content .half-select {float: left;}
.karcin-data-filter .filter-content .half-select span {
    display: inline-block;
    padding: 7px 5px;
}

/*CHARTS*/
a[href='http://www.amcharts.com'] {
    display: none !important;
}

/**
New Reactstrap CSS
*/
.radio-inline{
    display: inline-block;
    padding-right: 10px;
}
.typecolor {
    height: 38px;
    padding: 0px;
}

.radio-properties {
    border: none;
    padding: 0px;
}

/*
* select input css 
*/

.karcin-select-input {
    width: 100%;
    position: relative;
}
.karcin-select-input .form-group {
    width: 100%;
    position: relative;
    display: inline-block;
}
.karcin-select-input .form-group.left {}
.karcin-select-input .form-group.right {}
.karcin-select-input .form-group .karcin-input {
    width: 100%;
}
.karcin-select-input .form-group .karcin-label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.karcin-select-input .form-group .multi-select-input {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #d1d1d1;
    padding: 1px 2px;
    float: left;
}
.karcin-select-input .form-group .multi-select-input .multi-input {
    width: 20%;
    float: left;
    border:0;
    outline:0;
    padding: 4.5px;
}
.karcin-select-input .form-group .multi-select-input .select-item {
    width: auto;
    padding: 1px 4px;
    background-color: #e8e6e6;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 2px;
    color: #838080;
    float: left;
    padding-right: 27px;
    position: relative;
}
.karcin-select-input .form-group .multi-select-input .select-item span {
    float: left;
    font-size: 13px;
}
.karcin-select-input .form-group .multi-select-input .select-item .close-button {
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    right: 5px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.karcin-select-input .select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #e1e1e1;
    padding:0;
    box-shadow: 0px 2px 5px #e2e2e2;
    width: 100%;
    max-height: 140px;
    overflow-y: auto;
}
.karcin-select-input .select-dropdown .item {
    font-size:14px;
    cursor: pointer;
    padding: 2px 5px;
    float: left;
    width: 100%;
}
.karcin-select-input .select-dropdown .item.active {
    background-color: #1e90ff !important;
    color:#fff;
}
.karcin-select-input .select-dropdown .item:hover {
    background-color: #45a2fc;
    color:#fff;
}

.karcin-select-input .form-group .select-input-result {
    position: relative;
    float: left;
    width: 100%;
}

.karcin-select-input .form-group.left {
    display: inline-flex;
    align-items: center;
}
.karcin-select-input .form-group.left .select-input-result {
    width: 80%;
    float: right;
}
.karcin-select-input .form-group.left .karcin-label {
    width: 20%;
    float: left;
    padding: 10px;
}

.karcin-select-input .form-group.right {
    flex-direction: row-reverse;
    display: inline-flex;
    align-items: center;
}
.karcin-select-input .form-group.right .select-input-result {
    width: 80%;
    float: left;
}
.karcin-select-input .form-group.right .karcin-label {
    width: 20%;
    padding: 10px;
}

/**
* panel css
*/

.panel-main {
    border:solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
  }
  
  .panel-main .panel-title {
    background-color: #f9f9f9;
    padding: 12px 15px;
    color: #868585;
    border-bottom:solid 1px #ddd;
    font-size: 14px;
  }
  .panel-main .panel-title .panel-head-button {
    float: right;
    margin: -1px;
  }
  .panel-main .panel-title .panel-head-button button {
    padding: 2px;
    line-height: 0;
    background: #ffffff;
    color: #b5b4b4;
  }
  .panel-main .panel-title span {
    margin-bottom: 0;
    font-size: 14px;
  }
  .panel-main .panel-content {
    padding: 15px;
  }

  /* panel colors - primary */
  .panel-main.primary {
    border-color: #0275d8;
  }
  .panel-main.primary .panel-title .panel-head-button button {
    background: #045eab;
    color: #ffffff;
    border-color: #0561b1;
  }
  .panel-main.primary .panel-title {
    background-color: #0275d8;
    border-bottom-color: #0275d8;
    color:#FFFFFF;
  }
  
  /* panel colors - info */
  .panel-main.info {
    border-color: #5bc0de;
  }
  .panel-main.info .panel-title {
    background-color: #5bc0de;
    border-bottom-color: #5bc0de;
    color:#FFFFFF;
  }
  .panel-main.info .panel-title .panel-head-button button {
    background: #2e9bbb;
    color: #ffffff;
    border-color: #46a3bf;
  }
  /* panel colors - warning */
  .panel-main.warning {
    border-color: #f0ad4e;
  }
  .panel-main.warning .panel-title {
    background-color: #f0ad4e;
    border-bottom-color: #f0ad4e;
    color:#FFFFFF;
  }
  .panel-main.warning .panel-title .panel-head-button button {
    background: #da9a40;
    color: #ffffff;
    border-color: #d89330;
  }
  
  /* panel colors - danger */
  .panel-main.danger {
    border-color: #d9534f;
  }
  .panel-main.danger .panel-title {
    background-color: #d9534f;
    border-bottom-color: #d9534f;
    color:#FFFFFF;
  }
  .panel-main.danger .panel-title .panel-head-button button {
    background: #c12f2b;
    color: #ffffff;
    border-color: #c53632;
  }
  
  /* panel colors - secondary */
  .panel-main.secondary {
    border-color: #ccc;
  }
  .panel-main.secondary .panel-title {
    background-color: #fff;
    border-bottom-color: #ccc;
    color: #292b2c;
  }
  .panel-main.secondary .panel-title .panel-head-button button {
    background: #ffffff;
    color: #c3c2c2;
    border-color: #cccccc;
  }
  /* panel colors - success */
  .panel-main.success {
    border-color: #5cb85c;
  }
  .panel-main.success .panel-title {
    background-color: #5cb85c;
    border-bottom-color: #5cb85c;
    color: #FFFFFF;
  }
  .panel-main.success .panel-title .panel-head-button button {
    background: #3b963b;
    color: #ffffff;
    border-color: #4fb14f;
  }