/***** MENU CSS Start ******/
.karcin-menu .nav-item .nav {
    padding-left: 25px;
}

/***** MENU CSS End ******/

/***** TAB CSS Start ******/
.karcin-tab .nav-link {
    cursor: pointer;
}

/***** TAB CSS End ******/

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding: 0;
}

textarea {
    overflow: auto;
    resize: both !important;
    width: 100%;
    max-width: 100% !important;
}

.radio {
    margin: 5px;
    padding: 2px;
}

.label-properties {
    margin-bottom: -0.5rem !important;
    font-weight: bold;
}

.radio-properties {
    border: none;
    padding: 0px;
}

/**
    Slider Checkbox
*/
.slider-checkbox {
    position: relative;
}

.slider-checkbox label {
    width: 50px;
    height: 25px;
    background-color: #d74c4c;
    margin-bottom: 0;
    border-radius: 3em;
    position: relative;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    cursor: pointer;
}

.slider-checkbox.active label {
    background-color: #2b7ab2;
}

.slider-checkbox label input {
    position: absolute;
    opacity: 0;
}

.slider-checkbox.active label span.circle {
    left: calc(100% - 25px);
}

.slider-checkbox label .show-icon {
    position: absolute;
    top: 9px;
    z-index: 999;
    left: 14px;
    color: #FFFFFF;
}

.slider-checkbox label .show-icon.reject {
    left: auto;
    right: 14px;
}

.slider-checkbox label span.circle {
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    box-shadow: 0px 1px 5px #ccc;
}

/**
    * tab css
 */

.karcin-tab {
    width: 100%;
}

.karcin-tab > .nav {
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav li {
    display: inline-block;
    margin-right: 3px;
}

.karcin-tab > .nav li a {
    border: solid 1px #f1f0f0;
    border-bottom: 0;
    border-radius: 3px 3px 0px 0px;
    color: #a59c9c;
}

.karcin-tab > .nav li a.active {
    background-color: #9aba42;
    color: #fff;
}

.karcin-tab > .tab-content {
    border: solid 1px #f1f0f0;
    border-top: 0;
    padding: 10px;
}

.karcin-tab > .tab-content .tab-pane {
}

.karcin-tab > .tab-content .tab-pane.active {
}

.karcin-tab > .nav.vertical {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.vertical li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.vertical li a {
    border-right: 0;
    border-radius: 0;
}

.karcin-tab > .nav.vertical li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.vertical li:first-child a {
    border-radius: 5px 0px 0px 0px;
}

.karcin-tab > .nav.vertical li:last-child a {
    border-radius: 0px 0 0px 5px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.right li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.right li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.right li:first-child a {
    border-radius: 0px 5px 0px 0px;
}

.karcin-tab > .nav.right li:last-child a {
    border-radius: 0px 0 5px 0px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right li a {
    border-right: solid 1px #f1f0f0;
    border-left: 0;
}

.karcin-tab > .tab-content.vertical {
    float: left;
    width: calc(100% - 200px);
    border: solid 1px #f1f0f0;
    min-height: 200px;
}

.karcin-tab > .nav.right {
    float: right
}



/**
    * data filter css
 */

.karcin-data-filter {
    width: 100%;
    border-radius: 3px;
    border:solid 1px #ccc;
    min-height: 40px;
}

.karcin-data-filter .filter-content {}
.karcin-data-filter .filter-content .text-input {
    float: left;
    position: relative;
}
.karcin-data-filter .filter-content .text-input .form-control {
    float:left;
    border:0;
    background-color: transparent;
    box-shadow: none;
    padding: 7px 6px;
    width: 200px;
}

.karcin-data-filter .filter-content .selected-items {
    float: left;
}
.karcin-data-filter .filter-content .selected-items .item {
    width: auto;
    padding: 4px 10px;
    background-color: #e8e6e6;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 2px;
    color: #838080;
    float: left;
}
.karcin-data-filter .filter-content .selected-items .item span {
    display: inline-block;
    font-size: 13px;
}
.karcin-data-filter .filter-content .selected-items .item .close-button {
    margin-left: 5px;
    cursor: pointer;
    font-size: 13px;
}

.karcin-data-filter .filter-content .selected-field {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #e1e1e1;
    padding: 5px 8px;
    box-shadow: 0px 2px 5px #e2e2e2;
}

.karcin-data-filter .filter-content .selected-field .item {
    font-size:14px;
    cursor: pointer;
}
.karcin-data-filter .filter-content .half-select {float: left;}
.karcin-data-filter .filter-content .half-select span {
    display: inline-block;
    padding: 7px 5px;
}