/***** MENU CSS Start ******/
.karcin-menu .nav-item .nav {
    padding-left: 25px;
}

/***** MENU CSS End ******/

/***** TAB CSS Start ******/
.karcin-tab .nav-link {
    cursor: pointer;
}

/***** TAB CSS End ******/

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding: 0;
}

textarea {
    overflow: auto;
    resize: both !important;
    width: 100%;
    max-width: 100% !important;
}

.radio {
    margin: 5px;
    padding: 2px;
}

.label-properties {
    margin-bottom: -0.5rem !important;
    font-weight: bold;
}

.radio-properties {
    border: none;
    padding: 0px;
}

.input-focus {
    background-color: #fff;
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

/**
    Slider Checkbox
*/
.slider-checkbox {
    position: relative;
}

.slider-checkbox label {
    width: 50px;
    height: 25px;
    background-color: #d74c4c;
    margin-bottom: 0;
    border-radius: 3em;
    position: relative;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    cursor: pointer;
}

.slider-checkbox.active label {
    background-color: #2b7ab2;
}

.slider-checkbox label input {
    position: absolute;
    opacity: 0;
}

.slider-checkbox.active label span.circle {
    left: calc(100% - 25px);
}

.slider-checkbox label .show-icon {
    position: absolute;
    top: 9px;
    z-index: 999;
    left: 14px;
    color: #FFFFFF;
}

.slider-checkbox label .show-icon.reject {
    left: auto;
    right: 14px;
}

.slider-checkbox label span.circle {
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    box-shadow: 0px 1px 5px #ccc;
}

/**
    * tab css
 */

.karcin-tab {
    width: 100%;
}

.karcin-tab > .nav {
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav li {
    display: inline-block;
    margin-right: 3px;
}

.karcin-tab > .nav li a {
    border: solid 1px #f1f0f0;
    border-bottom: 0;
    border-radius: 3px 3px 0px 0px;
    color: #a59c9c;
}

.karcin-tab.light > .nav li a.active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.karcin-tab.dark > .nav li a.active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.karcin-tab.secondary > .nav li a.active {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.karcin-tab.primary > .nav li a.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.karcin-tab.success > .nav li a.active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.karcin-tab.info > .nav li a.active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.karcin-tab.warning > .nav li a.active {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.karcin-tab.danger > .nav li a.active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.karcin-tab > .nav li a:hover {
    color: #6f6c6c;
}

.karcin-tab > .tab-content {
    border: solid 1px #f1f0f0;
    border-top: 0;
    padding: 10px;
}

.karcin-tab > .tab-content .tab-pane {
}

.karcin-tab > .tab-content .tab-pane.active {
}

.karcin-tab > .nav.vertical {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.vertical li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.vertical li a {
    border-right: 0;
    border-radius: 0;
}

.karcin-tab > .nav.vertical li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.vertical li:first-child a {
    border-radius: 5px 0px 0px 0px;
}

.karcin-tab > .nav.vertical li:last-child a {
    border-radius: 0px 0 0px 5px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right {
    float: left;
    width: 200px;
    display: block;
    border-bottom: 0;
}

.karcin-tab > .nav.right li {
    display: block;
    margin-right: 0;
}

.karcin-tab > .nav.right li.active a {
    background-color: #f2f2f2;
    color: #555;
}

.karcin-tab > .nav.right li:first-child a {
    border-radius: 0px 5px 0px 0px;
}

.karcin-tab > .nav.right li:last-child a {
    border-radius: 0px 0 5px 0px;
    border-bottom: solid 1px #f1f1f1;
}

.karcin-tab > .nav.right li a {
    border-right: solid 1px #f1f0f0;
    border-left: 0;
}

.karcin-tab > .tab-content.vertical {
    float: left;
    width: calc(100% - 200px);
    border: solid 1px #f1f0f0;
    min-height: 200px;
}

.karcin-tab > .nav.right {
    float: right
}

.karcin-tab .nav-item.closible a {
    position: relative;
    padding-right: 40px;
}

.karcin-tab .nav-item .close-tab {
    width: 16px;
    height: 16px;
    background-color: #f54646;
    border-radius: 50%;
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/**
    * data filter css
 */

.karcin-data-filter {

}

.karcin-data-filter .karcin-label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.karcin-data-filter.left .karcin-label {
    width: 20%;
    padding: 10px;
    float: left;
}

.karcin-data-filter.right .karcin-label {
    width: 20%;
    padding: 10px;
    float: right;
}

.karcin-data-filter.left .filter-content {
    width: 80%;
    float: left;
}

.karcin-data-filter.right .filter-content {
    float: left;
    width: 80%;
}

.karcin-data-filter .filter-content {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #ccc;
    min-height: 40px;
}

.karcin-data-filter .filter-content .text-input {
    float: left;
    position: relative;
}

.karcin-data-filter .filter-content .text-input .form-control {
    float: left;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 7px 6px;
    width: 200px;
}

.karcin-data-filter .filter-content .selected-items {
    float: left;
}

.karcin-data-filter .filter-content .selected-items .item {
    width: auto;
    padding: 4px 10px;
    background-color: #e8e6e6;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 2px;
    color: #838080;
    float: left;
}

.karcin-data-filter .filter-content .selected-items .item span {
    display: inline-block;
    font-size: 13px;
}

.karcin-data-filter .filter-content .selected-items .item .close-button {
    margin-left: 5px;
    cursor: pointer;
    font-size: 13px;
}

.karcin-data-filter .filter-content .selected-field {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #e1e1e1;
    padding: 0;
    box-shadow: 0px 2px 5px #e2e2e2;
}

.karcin-data-filter .filter-content .selected-field .item {
    font-size: 14px;
    cursor: pointer;
    padding: 2px 5px;
}

.karcin-data-filter .filter-content .selected-field .item.active {
    background-color: #1e90ff;
    color: #fff;
}

.karcin-data-filter .filter-content .half-select {
    float: left;
}

.karcin-data-filter .filter-content .half-select span {
    display: inline-block;
    padding: 7px 5px;
}

/*CHARTS*/
a[href='http://www.amcharts.com'] {
    display: none !important;
}

/**
New Reactstrap CSS
*/
.radio-inline {
    display: inline-block;
    padding-right: 10px;
}

.typecolor {
    height: 38px;
    padding: 0px;
}

.radio-properties {
    border: none;
    padding: 0px;
}

/*
* select input css
*/

.karcin-select-input {
    width: 100%;
    position: relative;
}

.karcin-select-input .form-group {
    width: 100%;
    position: relative;
    display: inline-block;
}

.karcin-select-input .form-group.left {
}

.karcin-select-input .form-group.right {
}

.karcin-select-input .form-group .karcin-input {
    width: 100%;
}

.karcin-select-input .form-group .karcin-label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.karcin-select-input .form-group .multi-select-input {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #d1d1d1;
    padding: 1px 2px;
    float: left;
}

.karcin-select-input .form-group .multi-select-input .multi-input {
    width: 20%;
    float: left;
    border: 0;
    outline: 0;
    padding: 4.5px;
}

.karcin-select-input .form-group .multi-select-input .select-item {
    width: auto;
    padding: 1px 4px;
    background-color: #e8e6e6;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 2px;
    color: #838080;
    float: left;
    padding-right: 27px;
    position: relative;
}

.karcin-select-input .form-group .multi-select-input .select-item span {
    float: left;
    font-size: 13px;
}

.karcin-select-input .form-group .multi-select-input .select-item .close-button {
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    right: 5px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.karcin-select-input .select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #e1e1e1;
    padding: 0;
    box-shadow: 0px 2px 5px #e2e2e2;
    width: 100%;
    max-height: 140px;
    overflow-y: auto;
}

.karcin-select-input .select-dropdown .item {
    font-size: 14px;
    cursor: pointer;
    padding: 2px 5px;
    float: left;
    width: 100%;
}

.karcin-select-input .select-dropdown .item.active {
    background-color: #4e9dfb !important;
    color: #fff;
}

.karcin-select-input .select-dropdown .item:hover {
    background-color: #4e9dfb;
    color: #fff;
}

.karcin-select-input .form-group .select-input-result {
    position: relative;
    float: left;
    width: 100%;
}

.karcin-select-input .form-group.left {
    display: inline-flex;
    align-items: center;
}

.karcin-select-input .form-group.left .select-input-result {
    width: 80%;
    float: right;
}

.karcin-select-input .form-group.left .karcin-label {
    width: 20%;
    float: left;
    padding: 10px;
}

.karcin-select-input .form-group.right {
    flex-direction: row-reverse;
    display: inline-flex;
    align-items: center;
}

.karcin-select-input .form-group.right .select-input-result {
    width: 80%;
    float: left;
}

.karcin-select-input .form-group.right .karcin-label {
    width: 20%;
    padding: 10px;
}

/**
* panel css
*/

.panel-main {
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.panel-main .panel-title {
    background-color: #f9f9f9;
    padding: 12px 15px;
    color: #868585;
    border-bottom: solid 1px #ddd;
    font-size: 14px;
}

.panel-main .panel-title .panel-head-button {
    float: right;
    margin: -1px;
}

.panel-main .panel-title .panel-head-button button {
    padding: 2px;
    line-height: 0;
    background: #ffffff;
    color: #b5b4b4;
}

.panel-main .panel-title span {
    margin-bottom: 0;
    font-size: 14px;
}

.panel-main .panel-content {
    padding: 15px;
    display: inline-block;
    width: 100%;
}

/* panel colors - primary */
.panel-main.primary {
    border-color: #007bff;
}

.panel-main.primary .panel-title .panel-head-button button {
    background: #045eab;
    color: #ffffff;
    border-color: #0561b1;
}

.panel-main.primary .panel-title {
    background-color: #007bff;
    border-bottom-color: #007bff;
    color: #FFFFFF;
}

/* panel colors - info */
.panel-main.info {
    border-color: #17a2b8;
}

.panel-main.info .panel-title {
    background-color: #17a2b8;
    border-bottom-color: #17a2b8;
    color: #FFFFFF;
}

.panel-main.info .panel-title .panel-head-button button {
    background: #2e9bbb;
    color: #ffffff;
    border-color: #46a3bf;
}

/* panel colors - warning */
.panel-main.warning {
    border-color: #ffc107;
}

.panel-main.warning .panel-title {
    background-color: #ffc107;
    border-bottom-color: #ffc107;
    color: #FFFFFF;
}

.panel-main.warning .panel-title .panel-head-button button {
    background: #da9a40;
    color: #ffffff;
    border-color: #d89330;
}

/* panel colors - danger */
.panel-main.danger {
    border-color: #dc3545;
}

.panel-main.danger .panel-title {
    background-color: #dc3545;
    border-bottom-color: #dc3545;
    color: #FFFFFF;
}

.panel-main.danger .panel-title .panel-head-button button {
    background: #c12f2b;
    color: #ffffff;
    border-color: #c53632;
}

/* panel colors - secondary */
.panel-main.secondary {
    border-color: #6c757d;
}

.panel-main.secondary .panel-title {
    background-color: #6c757d;
    border-bottom-color: #6c757d;
    color: #292b2c;
}

.panel-main.secondary .panel-title .panel-head-button button {
    background: #ffffff;
    color: #c3c2c2;
    border-color: #cccccc;
}

/* panel colors - success */
.panel-main.success {
    border-color: #28a745;
}

.panel-main.success .panel-title {
    background-color: #28a745;
    border-bottom-color: #28a745;
    color: #FFFFFF;
}

.panel-main.success .panel-title .panel-head-button button {
    background: #3b963b;
    color: #ffffff;
    border-color: #4fb14f;
}

/**
* karcin menu css
 */

.karcin-menu {
    display: block;
    background-color: #292b3a;
}

.karcin-menu .nav-item {
    display: block;
    width: 100%;
}

.karcin-menu .nav-item .nav-link {
    display: block;
}

.karcin-menu .nav-item .open-icon {
    float: right;
    margin-top: 4px;
    text-align: right;
}

.karcin-menu .nav-item .menu-icon {
    margin-right: 5px;
    display: inline-block;
}

.karcin-menu .nav-item .menu-head {
    cursor: pointer;
}

.karcin-menu .nav-item .menu-head .nav-link {
    display: block;
}

.karcin-menu .nav-item .menu-head .nav-link strong .badge {
    margin-left: 10px;
}

.karcin-menu.hover-menu {
    max-width: 100%;
}

.karcin-menu.hover-menu .nav-item {
    position: relative;
}

.karcin-menu.hover-menu .nav-item:hover > .collapse {
    display: block !important;
}

.karcin-menu.hover-menu .nav-item .collapse.show {
    display: none;
}

.karcin-menu.hover-menu .nav-item .nav {
    background-color: #303030;
    position: absolute;
    width: 255px;
    right: -255px;
    top: 0;
    display: block;
    z-index: 999999;
    padding: 0px;
}

.karcin-menu.hover-menu .nav-item .nav .nav-item {
    padding-left: 0;
}

.karcin-menu .nav-item.active,
.karcin-menu.hover-menu .nav-item:hover,
.karcin-menu.hover-menu .nav-item .nav {
    background: #3c3e4f;
}

.karcin-menu .nav-item .nav-item {
    background: transparent !important;
}

.karcin-menu .nav-item.active .nav-link,
.karcin-menu.hover-menu .nav-item:hover .nav-link {
    border-color: #4d4f61;
}

.karcin-menu .nav-item.active .nav-item:hover > .menu-head .nav-link,
.karcin-menu .nav-item.active .nav-item.active > .menu-head > .nav-link,
.karcin-menu.hover-menu .nav-item:hover .nav-item:hover > .menu-head > .nav-link {
    color: #8a8da5;
}

.karcin-menu .nav-item .nav-link {
    color: #ffffff;
    border-bottom: solid 1px #43444f;
}

/**
    dataGrid css
 */

.karcin-data-grid .data-grid-header {
    width: 100%;
    padding: 10px;
    background-color: #f5f2f2;
    border-radius: 5px 5px 0px 0px;
    border: solid 1px #c7c7c7;
    border-bottom: 0;
}

.karcin-data-grid .data-grid-header .data-grid-search .btn {
    background-color: #779c45;
    border: solid 1px #b2d484;
    border-left: 0;
    color: #fff;
}

.karcin-data-grid .data-grid-header .data-grid-search .btn:focus {
    box-shadow: none;
}

.karcin-data-grid .data-grid-header .data-grid-search .form-control {
    background-color: #779c45;
    border: solid 1px #b2d484;
    border-right: 0;
    color: #fff;
}

.karcin-data-grid .data-grid-header .data-grid-search .form-control::placeholder {
    color: #fff;
}

.karcin-data-grid .data-grid-header .data-grid-search .form-control:focus {
    box-shadow: none;
}

.karcin-data-grid .data-grid-header .header-buttons {
    text-align: right;
}

.karcin-data-grid .data-grid-header .header-buttons .btn {
    background-color: #afacac;
    color: #fff;
    border-right: solid 2px #a5a5a5;
}

.karcin-data-grid .data-grid-header .header-buttons .btn:last-child {
    border: 0;
}

.karcin-data-grid .data-grid-header .header-buttons .btn:focus {
    outline: none;
    box-shadow: none;
}

.karcin-data-grid .data-grid-header .header-buttons .btn:hover:not(:disabled) {
    background-color: #848181;
}

.karcin-data-grid .table {
    border: 0;
    margin-bottom: 0;
    display: block;
    border:0;
}

.karcin-data-grid .table thead {
    background-color: #f5f2f2;
    overflow: hidden;
    border: solid 1px #c7c7c7;
    display: block;
    width: 100%;
}

.karcin-data-grid .table thead tr {
    overflow: hidden;
}

.karcin-data-grid .table thead tr td,
.karcin-data-grid .table thead tr th {
    font-size: 15px;
    font-weight: 600;
    color: #5a5858;
    border-bottom: 0;
    padding: 8px 15px;
    overflow: hidden;
    min-height: 36px;
    border-color: #c7c7c7;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    position: relative;
    transition: all .3s ease;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
}

.karcin-data-grid .table thead tr th.order-active,
.karcin-data-grid .table thead tr th.filter-active {
    background-color: #4e9dfb;
    color:#ffffff;
}

.karcin-data-grid .table thead tr th.order-active span:hover,
.karcin-data-grid .table thead tr th.filter-active span:hover {
    color: #ffffff;
}

.karcin-data-grid .table thead tr th.filter-active .filter {
    color: #274b75 !important;
}

.karcin-data-grid .table thead tr th.order-active .order {
    color: #274b75 !important;
}

.karcin-data-grid .table thead tr td:last-child,
.karcin-data-grid .table thead tr th:last-child {
    border-right: 0;
}

.karcin-data-grid .table thead tr td .title-option,
.karcin-data-grid .table thead tr th .title-option {
    position: absolute;
    right: 5px;
    top: 7px;
}

.karcin-data-grid .table thead tr td span,
.karcin-data-grid .table thead tr th span {
    float: right;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.karcin-data-grid .table thead tr td span:hover,
.karcin-data-grid .table thead tr th span:hover {
    color: #636161;
} 

.karcin-data-grid .table thead tr th span.filter-active {
    color: #4e9dfb;
}

.karcin-data-grid .table thead tr th span.order.active {
    color: #4e9dfb;
}

.karcin-data-grid .table tbody {
    height: 350px;
    overflow-y: auto;
    display: block;
    border: solid 1px #c7c7c7;
    border-top: 0;
}

.karcin-data-grid .table tbody::-webkit-scrollbar {
    width: 6px;
}

.karcin-data-grid .table tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.karcin-data-grid .table tbody::-webkit-scrollbar-thumb {
    background-color: #363636;
    outline: 1px solid slategrey;
    border-radius: 7px;
}

.karcin-data-grid .table tbody tr {
    overflow: hidden;
    display: flex;
}

.karcin-data-grid .table tbody tr:hover td {
    background-color: #f1f1f1;
}

.karcin-data-grid .table tbody tr:first-child td {
    border-top: 0;
}

.karcin-data-grid .table tbody tr:last-child td {
    border-bottom: solid 1px #dee2e6;
}

.karcin-data-grid .table tbody tr.active td {
    background-color: #4e9dfb;
    color: #fff;
}

.karcin-data-grid .table tbody tr td {
    padding: 5px 12px;
    overflow: hidden;
    border-bottom: 0;
    border-left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    display: inline-block;
}

.karcin-data-grid .table tbody tr td:last-child {
    border-right: 0;
}

.karcin-data-grid .table tr td, .karcin-data-grid .table tr th {
    display: inline-flex;
    align-items: center;
}

.karcin-data-grid .data-grid-footer {
    width: 100%;
    padding: 10px;
    background-color: #f5f2f2;
    border-radius: 0px 0px 5px 5px;
    border: solid 1px #c7c7c7;
    border-top: 0;
}

.karcin-data-grid .data-grid-footer .btn {
    background-color: #779c45;
    color: #fff;
    border-right: solid 2px #70943f;
    padding: 3px 10px;
    font-size: 15px;
}

.karcin-data-grid .data-grid-footer .btn.arrow {
    padding: 3px 5px;
}

.karcin-data-grid .data-grid-footer .btn:last-child {
    border: 0;
}

.karcin-data-grid .data-grid-footer .btn:focus {
    outline: none;
    box-shadow: none;
}

.karcin-data-grid .data-grid-footer .btn:hover:not(:disabled), .karcin-data-grid .data-grid-footer .btn.active {
    background-color: #9dbf6e;
}

.karcin-data-grid .data-grid-footer .pagination {
    justify-content: center;
    margin-bottom: 0;
}

.karcin-data-grid .data-grid-footer .data-grid-detail {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.karcin-data-grid .data-grid-footer .data-grid-detail div {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
}

.popup-over-search .btn {
    background-color: #ffffff;
    border: solid 1px #c3c3c3;
    border-left: 0;
    color: #948f8f;
}

.popup-over-search .btn:focus {
    box-shadow: none;
}

.popup-over-search .form-control {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    border-right: 0;
    color: #a5a1a1;
}

.popup-over-search .form-control::placeholder {
    color: #948f8f;
}

.popup-over-search .form-control:focus {
    box-shadow: none;
}

/**
notify color
 */

/* info color */
.css-1dbhh97, [data-css-1dbhh97] {
    background-color: #17a2b8 !important;
}

/* success color */
.css-lj0up9, [data-css-lj0up9] {
    background-color: #28a745 !important;
}

/* danger color */
.css-1imjg0i, [data-css-1imjg0i] {
    background-color: #dc3545 !important;
}

/* warning color */
.css-1qmczst, [data-css-1qmczst] {
    background-color: #ffc107 !important;
}

a[href='http://www.amcharts.com/javascript-maps/'] {
    display: none !important;
}

/**
* Context Menu
*/
.karcin-context-menu {
    position: absolute;
    z-index: 99999999999;
    left: 0;
    top: 0;
    width: 200px;
    display: none;
}

.karcin-context-menu.active,
.karcin-context-menu.active .dropdown-menu {
    display: block;
    padding: 0;
}

.karcin-context-menu .nav {
    width: 100%;
    background-color: #fafafa;
    border: solid 1px #e9e9e9;
}

.karcin-context-menu .dropdown-menu .dropdown-item {
    padding: 0;
    position: relative;
}

.karcin-context-menu .dropdown-menu .dropdown-item:last-child a {
    border-bottom: 0;
}

.karcin-context-menu .dropdown-menu .dropdown-item a {
    display: block;
    padding: 6px 10px;
    border-bottom: solid 1px #e9e9e9;
    color: #212529;
}

.karcin-context-menu .dropdown-menu .dropdown-item:hover > .menu-head a {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.karcin-context-menu .dropdown-menu .dropdown-item a {
}

.karcin-context-menu .dropdown-menu .dropdown-item .menu-head {
}

.karcin-context-menu .dropdown-menu .dropdown-item i.basic-icon {
    float: left;
    margin-top: 6px;
    margin-right: 2px;
}

.karcin-context-menu .dropdown-menu .dropdown-item i.dropdown-icon {
    float: right;
    margin-top: 6px;
}

.karcin-context-menu .dropdown-menu .dropdown-item span {
}

.karcin-context-menu .dropdown-menu .dropdown-item .dropdown-menu {
    display: none;
}

.karcin-context-menu .dropdown-menu .dropdown-item .dropdown-menu {
    position: absolute;
    width: 200px;
    right: -200px;
    top: 0;
    left: auto;
    margin: 0;
}

.karcin-context-menu .dropdown-menu .dropdown-item:hover > .dropdown-menu {
    display: block;
}

button-square-to-radius {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

/*************************CHECKLIST COMPONENT*******************/
/* The container */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #d6d6d6;
    overflow: hidden;
    transition: all .2s ease;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: #ffffff;
    overflow: initial;
}

.check-container input:checked ~ .checkmark:after {
    transform: scale(1) rotate(0);
    opacity: 1;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    content: "\F00C";
    font-family: 'FontAwesome';
    color: #505050;
    font-size: 15px;
    transform: scale(4) rotate(62deg);
    transition: all .3s ease;
    opacity: 0;
}

/*****************CHECKLİST END********************/

/**  Loading */
.pre-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.pre-loading.inset {
    position: absolute;
}

.pre-loading.show {
    display: block;
}

.glyphicon.spinning {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 5px #fff;
    border-top-color: #0b5f75;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
    margin-left: -5%;
    border-radius: 50%;
    margin: auto;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


.karcin-look-up {}
.karcin-look-up .look-up-wrapper {}
.karcin-look-up .look-up-wrapper .selected-value {position: relative;}
.karcin-look-up .look-up-wrapper .selected-value .input-val {}
.karcin-look-up .look-up-wrapper .selected-value .show-button {position: absolute;right: 0;top:0;}